
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeadPartial")

<body class="index-page">

    @await Component.InvokeAsync("_DefaultHeaderPartial")
    <main class="main">
        <br />
        
        <!-- Hero Section -->
        @await Component.InvokeAsync("_DefaultHeroPartial")
        @await Component.InvokeAsync("_DefaultAboutPartial")
        <!-- About Section -->
    
        <!-- Features Section -->
        @await Component.InvokeAsync("_DefaultFeaturePartial")

c
        <br />
        <br />
        <br />
        <br />
      
        <div class="container">
            <div class="d-flex justify-content-center">


                @await Component.InvokeAsync("_DefaultclientsPartial")

           
        </div>
        </div>

     
        <!-- Stats Section -->
        @await Component.InvokeAsync("_DefaultTestimoniolPartial")

        @await Component.InvokeAsync("_DefaultSendMessagePartial")
    

   
      
    </main>

    @await Component.InvokeAsync("_DefaultFooterPartial")

    <!-- Scroll Top -->
    @await Component.InvokeAsync("_DefaultScriptPartial")

   
</body>

</html>

    