    <!-- Referanslar Bölümü -->
<section id="testimonials" class="testimonials section light-background">

    <!-- Bölüm Başlığı -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Referanslar </h2>
        <p>Projeye katkıda bulunan kurumların ve kullanıcıların deneyimleri</p>
    </div>

    <div class="container">
        <div class="row g-5">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-item">
          
                    <h3>Ahmet Yılmaz</h3>
                    <h4>OSB Yönetim Kurulu Başkanı</h4>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Sistem sayesinde sorunlarımız finansal destek kurumlarıyla hızlıca eşleşti. Büyük bir kolaylık sağladı.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="testimonial-item">
                  
                    <h3>Mehmet Demir</h3>
                    <h4>KOSGEB Uzmanı</h4>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Projeler arasından ilgimizi çekenleri kolayca seçebiliyoruz. Bildirim sistemi iletişimi çok hızlandırıyor.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial-item">
                 
                    <h3>Elif Kaya</h3>
                    <h4>Teknopark Araştırmacısı</h4>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Desteklenmiş sorunlar sayesinde üniversite olarak yenilikçi çözümler geliştirme fırsatı yakaladık.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="testimonial-item">
                  
                    <h3>Fatma Şahin</h3>
                    <h4>KÜTSO Proje Sorumlusu</h4>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Yatırım görüşmelerimiz sistem üzerinden kolayca gerçekleşti, destek almak artık çok daha hızlı.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                </div>
            </div>

        </div>
    </div>

</section>